.pricingList{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
}



@media screen and (max-width: 430px){
    .pricingList{
        display: flex;
        flex-direction: column;

    }

}